*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f5f5;
}

/* login Page  */
.login-container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.login-left{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.login-logo{
    padding-top: 40px;
   display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
 }
.login-logo img{
    width: 50%;
    height: 50%;
    object-fit: contain;
}
.login-logo a{
    text-decoration: none;
    color: #4790FC ;
    font-size: 18px;
    font-weight: 600;
}
.login-logo a:hover{
    color: #a30306;
}
.login-details{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    gap: 40px;
    padding-left: 70px;
}
.login-details h1{
    font-size: 44px;
    font-weight: 900;
    margin-top: -40px;
}
.login-details form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 40px;
}
.login-details form input{
    width: 70%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    font-size: 16px;
    background-color: #f4f4f8; 
    justify-content: center; 
  margin-left: 20px;
}
.login-details form button{
    width: 15%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #4790FC;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    margin-left: 30%;
}
.login-details form button:hover{
    background-color: #2461bd;
}
.login-details a{
    text-decoration: none;
    color: #ED2326 ;
    font-size: 14px;
    font-weight: 600;
    margin-left: 210px;
}
.login-details a:hover{
    color: #a30306;
}
.login-right{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4790FC;
    color:#fff;
    gap: 30px;
}
.login-right h1{
    font-size: 50px;
    font-weight: 900;
}
.login-right p{
    font-size: 18px;
    font-weight: 500;
    padding-left: 130px;
    padding-right: 100px;
}
.login-right a{
    width: 20%;
    height: 25px;
    border: none;
    border-radius: 10px;
    background-color: #ED2326;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: auto 0;
    line-height: 25px;
}
.login-right a:hover{
    background-color: #a30306;
}


/* Sign Up Page */
.signup-container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.signup-logo{
    padding-top: 40px;
   display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.signup-logo a{
    text-decoration: none;
    color: #4790FC ;
    font-size: 18px;
    font-weight: 600;
}
.signup-logo a:hover{
    color: #a30306;
}
.signup-logo img{
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.signup-right{
    width: 55%;
    display: flex;
    flex-direction: column;
   padding-left: 40px;
   background-color: #fff;
}
.signup-details{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 40px;
    padding-left: 50px;
}
.signup-details h1{
    font-size: 44px;
    font-weight: 900;
    margin-top: -40px;
}
#registerForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#registerForm input{
    width: 70%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    font-size: 16px;
    background-color: #f4f4f8; 
    justify-content: center; 
  margin-left: 20px;
}
#registerForm button{
    width: 15%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #ED2326;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    margin-left: 30%;
}
#registerForm button:hover{
    background-color: #990306;
}
.signup-left{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4790FC;
    color:#fff;
    gap: 30px;
}
.signup-left h1{
    font-size: 50px;
    font-weight: 900;
}
.signup-left p{
    font-size: 18px;
    font-weight: 500;
    padding-left: 130px;
    padding-right: 100px;
}
.signup-left a{
    width: 20%;
    height: 25px;
    border: none;
    border-radius: 10px;
    background-color: #ED2326;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: auto 0;
    line-height: 25px;
}
.signup-left a:hover{
    background-color: #a30306;
}
/* forgot password page */
.forgotpwd-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.forgotpwd-logo{
    padding-top: 40px;
   display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.forgotpwd-logo a{
    text-decoration: none;
    color: #4790FC ;
    font-size: 18px;
    font-weight: 600;
}
.forgotpwd-logo a:hover{
    color: #a30306;
}
.forgotpwd-logo img{
    width: 30%;
    height: 50%;
    object-fit: contain;
}
.forgotpwd-innercontainer{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-color: #4790FC;
    color:#fff;
    margin: auto;
    padding-left: 30px;
}
.forgotpwd-image{
    width: 30%;
    height: 30%;
    display: flex;
    margin: 0 auto;
    margin-top: -50px;
}
.forgotpwd-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 50px;
}
.forgotpwd-details h1{
    font-size: 45px;
    font-weight: 900;
    margin-top: 10px;
}
.forgotpwd-details p{
    font-size: 18px;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 100px; gap: 30px;
}
#forgotPwdForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    gap: 25px;
}
#forgotPwdForm input{
    width: 70%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    font-size: 16px;
    background-color: #f4f4f8; 
    justify-content: center; 
  margin-left: 20px;
  margin-top: 50px;
}
#forgotPwdForm button{
    width: 18%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #ED2326;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    margin-left: 30%;
}
#forgotPwdForm button:hover{
    background-color: #990306;
}
.forgotpwd-details a{
    text-decoration: underline;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-left: 190px;
}
.forgotpwd-details a:hover{
    color: #a30306;
}


/* reset password page */
.resetpwd-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.resetpwd-logo{
    padding-top: 40px;
   display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.resetpwd-logo a{
    text-decoration: none;
    color: #4790FC ;
    font-size: 18px;
    font-weight: 600;
}
.resetpwd-logo a:hover{
    color: #a30306;
}
.resetpwd-logo img{
    width: 30%;
    height: 50%;
    object-fit: contain;
}
.resetpwd-content{
    display: flex;
    flex-direction: column;
    color:#000;
    margin: -50px auto ;
}
.resetpwd-content h1{
    font-size: 60px;
    font-weight: 900;
    margin-top: 70px;
}
.resetpwd-content p{
    font-size: 20px;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 100px;
    margin: 0 auto;
}
.resetpwd-form{
    width: 50%;
    height: 45%;
    display: flex;
    flex-direction: column;
    background-color: #4790FC;
    margin: auto;
    padding-left: 30px;
    border-radius: 10px;
}
.resetpwd-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 100px;
    gap: 25px;
}
.resetpwd-form form label{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
}
.resetpwd-form form label:after{
    content: " *";
    color: red;
}
.resetpwd-form form input{
    width: 70%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    font-size: 16px;
    background-color: #f4f4f8; 
    justify-content: center; 
  margin-left: 20px;
}
.resetpwd-form form button{
    width: 18%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #ED2326;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    margin-left: 30%;
}
.resetpwd-form form button:hover{
    background-color: #990306;
}

/* Token Page */
.token-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.token-logo{
    padding-top: 40px;
   display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.token-logo a{
    text-decoration: none;
    color: #4790FC ;
    font-size: 18px;
    font-weight: 600;
}
.token-logo a:hover{
    color: #a30306;
}
.token-logo img{
    width: 30%;
    height: 50%;
    object-fit: contain;
}
.token-content{
    display: flex;
    flex-direction: column;
    color:#000;
    margin: -50px auto ;
    gap: 30px;
}
.token-content h1{
    font-size: 60px;
    font-weight: 900;
    margin-top: 70px;
    margin-left: 120px;
}
.token-content p{
    font-size: 20px;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 100px;
    margin: 0 auto;
}
.token-form{
    width: 50%;                 
    height: 35%;
    display: flex;
    flex-direction: column;
    background-color: #4790FC;
    margin: auto;
    padding-left: 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.token-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    gap: 25px;
}
.token-form form label{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    margin-left: 20px;
}
.token-form form label:after{
    content: " *";
    color: red;
}
.token-form form input{
    width: 70%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    font-size: 16px;
    background-color: #f4f4f8; 
    justify-content: center; 
  margin-left: 20px;
}
.token-form form button{
    width: 18%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #ED2326;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    margin-left: 30%;
}
.token-form form button:hover{
    background-color: #990306;
}

/* product header */
nav{
    display: flex;
    flex-direction: column;
    margin: 25px 25px;
    gap: 40px;
}
.upper-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-logo img{
    width: 20%;
    height: 100%;
    object-fit: contain;
}
.upper-nav-left{
    display: flex;
    gap: 50px;
    align-items: center;
}
.upper-nav-left a{
    text-decoration: none;
    color: #4790FC ;
    font-size: 14px;
    font-weight: 600;
}
.upper-nav-left a:hover{
    color: #a30306;
}
.nav-acc{
   align-items: center;
    display: flex;
}
.lower-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lower-nav ul{
    display: flex;
   gap: 100px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    list-style: none;
    font-size: 18px;
    font-weight: 540;
    color: #000;
}
.lower-nav ul a{
    text-decoration: none;
    color: #000;
}
.lower-nav ul a:hover{
    color: #4790FC;
}
.lower-nav-left{
    display: flex;
    gap: 80px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
.custom-input input{
    width: 80vh;
    height: 30px;
    border: 1px solid #4790FC  ;
    outline: none;
    font-size: 16px;
    background-color: #fff;
    padding-left: 10px;
}
.custom-input {
    display: inline-block;
    position: relative;
  }
  
  .custom-input img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  .custom-input input[type="search"] {
    padding-right: 30px; /* Provide space for the image */
  }
.nav-cart{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-cart img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}



/* error message styles */
.error-message {
    color: red;
    font-size: 16px;
    margin-bottom: -40px;
    padding-left: 70px;
  }
  .success-message {
    color: green;
    font-size: 18px;
    margin-bottom: -40px;

  }
  .error input {
    border-color: red;
  }
  
  #resetPwdErrorMessage{
    color: red;
    font-size: 18px;
    margin-top: 5px;
    padding-left: 70px;
  }
  #resetPwdSuccessMessage{
    color: green;
    font-size: 18px;
    margin-top: 5px;
  }
  #forgotPwdErrorMessage{
    color: red;
    font-size: 18px;
    padding-left: 150px;
  }
  #forgotPwdSuccessMessage{
    color: green;
    font-size: 18px;
    padding-left: 150px;
  }
 #tokenErrorMessage{
    color: red;
    font-size: 18px;
    padding-left: 150px;
    margin-bottom: 10px;
 }