* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

.container {
    max-width: 100vw;
    margin: 20px auto;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
}
/* header */
nav{
    display: flex;
    flex-direction: column;
    margin: 25px 25px;
    gap: 40px;
}
.upper-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-logo img{
    width: 20%;
    height: 100%;
    object-fit: contain;
}
.upper-nav-left{
    display: flex;
    gap: 50px;
    align-items: center;
}
.upper-nav-left a{
    text-decoration: none;
    color: #4790FC ;
    font-size: 14px;
    font-weight: 600;
}
.upper-nav-left a:hover{
    color: #a30306;
}
.nav-acc{
   align-items: center;
    display: flex;
}
.lower-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lower-nav ul{
    display: flex;
   gap: 100px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    list-style: none;
    font-size: 18px;
    font-weight: 540;
    color: #000;
}
.lower-nav ul a{
    text-decoration: none;
    color: #000;
}
.lower-nav ul a:hover{
    color: #4790FC;
}
.lower-nav-left{
    display: flex;
    gap: 80px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
.custom-input input{
    width: 80vh;
    height: 30px;
    border: 1px solid #4790FC  ;
    outline: none;
    font-size: 16px;
    background-color: #fff;
    padding-left: 10px;
}
.custom-input {
    display: inline-block;
    position: relative;
  }
  
  .custom-input img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  .custom-input input[type="search"] {
    padding-right: 30px; /* Provide space for the image */
  }
.nav-cart{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-cart img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}


.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.product-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
}

.product-info button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3EB3EA;
    color: #fff;
    cursor: pointer;
}

.product-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    gap:20px;
}


.product-quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.product-quantity button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #3EB3EA;
    color: #fff;
    cursor: pointer;
}

.product-quantity input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-cart-btn button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3EB3EA;
    color: #fff;
    cursor: pointer;
}