#wrapper {
    display: flex;   
}

#sidebar-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border-right: 1px solid #dee2e6;
    padding-right: 20px;
}

.sidebar-heading {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999;
    margin: 10px 0px;
}
.sidebar-item {
    border-bottom: 1px solid #dee2e6;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 0.7rem 0rem;
    background-color: #fff;
    color: #000;
}

#products {
    display: flex;
    flex-direction: column;
}

#products a{
    text-decoration: none;
    margin-left: 30px;
    color: #000;
    padding: 0.5rem 0;
}
#products a:hover{
    color: #007bff;

}

#settings-container {
    display: flex;
    flex-direction: column;
}

#settings-container a {
    text-decoration: none;
    padding: 0.5rem 0;
    color: #000;
    border-bottom: 1px solid #dee2e6;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.user h5 {
    margin: 5px;
}

.user p {
    margin: 5px;
}

.toggler {
    margin-left: 10px;
}


.logo img {
    width: 200px;
    padding-bottom: 5px;
}

.d-none {
    display: none !important;
}